<div id="container">
	<form action='/surveys' method='post'>
    	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    	<div>
    		<label>Your Name:</label>
	    	<input type='text' name='survey[name]'>
    	</div>
	    <div>
	    	<label>Dojo Location:</label>
		    <select name="survey[location]" class="select">
				<option value="SanJose">San jose </option>
				<option value="LA, Ca">LA,,CA</option>
				<option value="Seattle, Phoenix">Seattle, Pheonix</option>
				<option value="newYork" >New york </option>
			</select>
	    </div>
		<div>
			<label>Favorite language:</label>
			<select name="survey[language]" class="select">
				<option value="Javascript">Javascript</option>
				<option  value="PHP">PHP</option>
				<option value="HTML">HTML</option>
				<option value="CSS">CSS</option>
			</select>
		</div>
		<div>
			<label>Comment:</label>
			<textarea rows="4" cols="35" name="survey[comment]"></textarea>
		</div>
		<div>
			<input type='submit' value='Submit'>
		</div>
    </form>
</div>    